Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

uv-format:
  name: uv-format
  entry: uv format --preview-features format
  language: system
  pass_filenames: false

pnpm-format:
  name: pnpm-format
  entry: pnpm --dir front run format
  language: system
  pass_filenames: false

ci: 修改大模型
  .github/scripts/generate_release_notes.py
Due: uv-format

refactor: 重构设备和资源选择器，优化定时任务逻辑
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/services/api/modules/device.ts
  front/src/services/api/modules/resource.ts
  front/src/stores/settings/settings.ts
  front/src/types/scheduler/model.ts
  front/src/types/settings/model.ts
  maa_worker/device_service.py
  maa_worker/resource_utils.py
  main.py
  models/scheduler.py
  models/settings.py
  scheduler_manager.py
Due: uv-format, pnpm-format

chore: 改进一些小问题
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/services/api/modules/resource.ts
  front/src/stores/settings/settings.ts
  maa_worker/resource_utils.py
  scheduler_manager.py
Due: uv-format, pnpm-format

refactor: 重构设备和资源选择器，优化定时任务逻辑 (#23)
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/services/api/modules/device.ts
  front/src/services/api/modules/resource.ts
  front/src/stores/settings/settings.ts
  front/src/types/scheduler/model.ts
  front/src/types/settings/model.ts
  maa_worker/device_service.py
  maa_worker/resource_utils.py
  main.py
  models/scheduler.py
  models/settings.py
  scheduler_manager.py
Due: uv-format, pnpm-format

feat(tests): CI 测试
  .github/workflows/build.yml
  .github/workflows/test.yml
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  front/src/services/realtime/sse.test.ts
  front/src/stores/panel/session.test.ts
  front/src/tests/mocks/server.ts
  front/src/tests/setup.ts
  front/src/utils/interface/content.test.ts
  front/src/utils/task-config/options.test.ts
  front/vitest.config.ts
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/unit/__init__.py
  uv.lock
Due: uv-format, pnpm-format

chore(test): 精简部分测试 fix(test): 修复类型错误
  .gitignore
  tests/unit/test_interface_loader.py
  tests/unit/test_interface_model.py
  tests/unit/test_json_utils.py
  tests/unit/test_task_config.py
Due: uv-format

fix(interface_loader): 增强绝对路径检测逻辑以支持跨平台
  models/interface_loader.py
Due: uv-format

chore(build): 移除手动分块逻辑
  front/vite.config.ts
Due: pnpm-format

feat(logs): 补充日志视图组件 deps: 升级依赖
  .gitignore
  front/package.json
  front/pnpm-lock.yaml
  front/src/views/logs/LogsView.vue
Due: pnpm-format

refactor(realtime): 重构实时事件处理逻辑
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/app/main.ts
  front/src/components/common/SearchableSelect.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/services/api/modules/settings.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/panel/session.test.ts
  front/src/stores/panel/session.ts
  front/src/stores/settings/settings.ts
  front/src/views/tasks/TasksView.vue
Due: pnpm-format

feat(dispatcher): 添加实时事件分发功能
  front/src/services/realtime/dispatcher.test.ts
  front/src/services/realtime/dispatcher.ts
Due: pnpm-format

refactor: 调整目录结构
  front/src/types/interfaceModel.ts
  front/src/types/realtimeModel.ts
  front/src/types/schedulerModel.ts
  front/src/types/settingsModel.ts
  front/src/types/taskConfigModel.ts
  front/src/views/HomeView.vue
  front/src/views/LogsView.vue
  front/src/views/RoutinesView.vue
  front/src/views/SettingsView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

fix: 修复过渡动效
  front/src/app.css
  front/src/app/main.ts
Due: pnpm-format

refactor(select): 重构设备选择器与自定义地址逻辑
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/common/CreatableSelect.test.ts
  front/src/components/common/CreatableSelect.vue
  front/src/components/common/SearchableSelect.vue
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/services/api/modules/device.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/panel/device.ts
  front/src/views/HomeView.vue
  maa_worker/device_service.py
  main.py
  models/api.py
  models/settings.py
  tests/unit/test_custom_devices.py
Due: uv-format, pnpm-format

refactor(scheduler): 重构创建计划任务面板
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/sections/AboutSettingsSection.vue
  front/src/components/settings/sections/NotificationSettingsSection.vue
  front/src/components/settings/sections/UISettingsSection.vue
  front/src/components/settings/sections/UpdateSettingsSection.vue
  front/src/views/LogsView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

style: 修改部分样式
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  front/src/app/App.vue
  front/src/app/styles/main.css
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskDescriptionCard.vue
  front/src/views/HomeView.vue
Due: pnpm-format

fix: fix bugs
  front/env.d.ts
  front/eslint.config.ts
  front/package.json
  front/pnpm-lock.yaml
  front/src/app/main.ts
  front/src/components/common/CreatableSelect.test.ts
  front/src/components/panel/task/OptionItem.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/services/api/modules/task.ts
  front/src/services/realtime/dispatcher.test.ts
  front/src/services/realtime/dispatcher.ts
  front/src/services/realtime/events.test.ts
  front/src/services/realtime/events.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/settings/settings.ts
  front/src/types/realtimeModel.ts
  front/src/types/schedulerModel.ts
  front/src/types/settingsModel.ts
  front/src/views/HomeView.vue
  front/src/views/LogsView.vue
  front/src/views/TasksView.vue
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/task_service.py
  main.py
  models/api.py
  models/settings.py
  settings_io.py
Due: uv-format, pnpm-format

chore: 修改gitignore
  .gitignore
Due: none

feat(system_scheduler): 添加系统级定时任务注册和管理功能
  app_state.py
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/services/api/modules/scheduler.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  main.py
  models/scheduler.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
  updater/main.go
Due: uv-format, pnpm-format

fix: align frontend types with backend observation contract and cleanup
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  services/system_scheduler.py
  tests/unit/test_headless_and_exit_codes.py
Due: uv-format, pnpm-format

refactor(test): split oracle tests and cleanup
  models/interface_loader.py
  tests/conftest.py
  tests/unit/test_oracle_phase2_fixes.py
  tests/unit/test_process_lock.py
  tests/unit/test_run_headless.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
  updater/lockhelper
  updater/updater
  uv.lock
Due: uv-format

refactor(lock): simplify local advisory locking
  .github/workflows/test.yml
  services/process_lock.py
  updater/cmd/lockhelper/main.go
  updater/internal/filelock/filelock.go
  updater/internal/filelock/filelock_cloexec_unix_test.go
  updater/internal/filelock/filelock_subprocess_test.go
  updater/internal/filelock/filelock_test.go
  updater/internal/filelock/filelock_unix.go
  updater/internal/filelock/filelock_windows.go
  updater/lockhelper_interop_test.go
  updater/main.go
  updater/main_test.go
Due: uv-format

refactor(system_scheduler): simplify native synchronization
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/types/schedulerModel.ts
  main.py
  models/scheduler.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_system_scheduler_service.py
Due: uv-format, pnpm-format

refactor(system_scheduler): 重构整体逻辑
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/services/api/modules/scheduler.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  main.py
  models/scheduler.py
  pyproject.toml
  scheduler_job_codec.py
  scheduler_manager.py
  services/system_scheduler.py
  tests/unit/test_scheduler_job_codec.py
  tests/unit/test_scheduler_manager_kwargs.py
  tests/unit/test_scheduler_reconcile.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_scheduler_system_scope_import.py
  tests/unit/test_system_scheduler_service.py
  tests/unit/test_system_tasks_operational_state.py
  uv.lock
Due: uv-format, pnpm-format

chore(ci): 修改测试CI触发时机
  .github/workflows/test.yml
Due: none

fix: interface.json not found
  tests/unit/test_scheduler_system_scope_import.py
Due: uv-format

feat: 移除SYSTEM权限功能 chore: 清理无用代码 test: 精简测试代码
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SystemStatusBadge.vue
  front/src/services/api/modules/scheduler.test.ts
  front/src/services/api/modules/scheduler.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  front/src/views/RoutinesView.vue
  main.py
  models/scheduler.py
  scheduler_job_codec.py
  scheduler_manager.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_scheduler_reconcile.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_scheduler_system_scope_import.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
Due: uv-format, pnpm-format

chore: 移除兼容代码
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SystemStatusBadge.vue
  front/src/services/api/modules/scheduler.test.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  main.py
  models/scheduler.py
  scheduler_job_codec.py
  scheduler_manager.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_scheduler_job_codec.py
  tests/unit/test_scheduler_manager_kwargs.py
  tests/unit/test_scheduler_reconcile.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_scheduler_system_scope_import.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
  tests/unit/test_system_tasks_operational_state.py
Due: uv-format, pnpm-format

test: 补充测试代码
  tests/unit/test_scheduler_wakeup.py
Due: uv-format

refactor(updater): 简化代码逻辑，精简测试
  updater/internal/filelock/filelock.go
  updater/internal/filelock/filelock_cloexec_unix_test.go
  updater/lockhelper_interop_test.go
  updater/main.go
  updater/main_test.go
Due: none

chore(updater): 精简代码
  updater/cmd/lockhelper/main.go
  updater/internal/filelock/filelock_test.go
Due: none

test(updater): 移除重复测试 refactor(updater): 简化代码
  services/process_lock.py
  services/system_scheduler.py
  tests/unit/test_run_headless.py
  tests/unit/test_scheduler_manager_kwargs.py
  tests/unit/test_scheduler_reconcile.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_scheduler_wakeup.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
  tests/unit/test_system_tasks_operational_state.py
Due: uv-format

chore: 移除死代码
  services/process_lock.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_process_lock.py
  tests/unit/test_scheduler_job_codec.py
  tests/unit/test_scheduler_reconcile.py
  tests/unit/test_scheduler_sync.py
  tests/unit/test_scheduler_wakeup.py
  tests/unit/test_system_scheduler_service.py
  tests/unit/test_system_tasks_operational_state.py
Due: uv-format

refactor(updater): 使用flock替代文件锁原生实现
  updater/go.mod
  updater/go.sum
  updater/internal/filelock/filelock.go
  updater/internal/filelock/filelock_unix.go
  updater/internal/filelock/filelock_windows.go
Due: none

refactor: 使用filelock替换python侧的手动实现
  pyproject.toml
  services/process_lock.py
  tests/unit/test_process_lock.py
  uv.lock
Due: uv-format

fix(updater): release runtime.lock fd in TestRunRuntimeUnlockFailureAbortsHandoff
  updater/main_test.go
Due: none

Path conditions:
  uv-format: any of: \.py$
  pnpm-format: any of: ^front/.*
