Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

uv-format:
  name: uv-format
  entry: uv format --preview-features format
  language: system
  pass_filenames: false

pnpm-format:
  name: pnpm-format
  entry: pnpm --dir front run format
  language: system
  pass_filenames: false

chore: 更新类型注解以支持更现代的 Python 语法
  models/scheduler.py
  services/process_lock.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_service.py
Due: uv-format

format
  main.py
  models/interface_loader.py
  scheduler_manager.py
  services/execution_coordinator.py
  services/execution_store.py
  services/system_scheduler_backend.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_execution_store.py
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_api.py
  tests/unit/test_scheduler_codec.py
  tests/unit/test_system_scheduler_converge.py
Due: uv-format

refactor: 重新划分状态管理范围
  app_state.py
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/agent_service.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/pipeline_override.py
  maa_worker/resource_utils.py
  maa_worker/runtime.py
  maa_worker/task_service.py
  main.py
  services/execution_coordinator.py
  tests/unit/test_custom_devices.py
  tests/unit/test_execution_coordinator.py
Due: uv-format

feat: 引入pywin32管理windows计划任务 refactor: 移除复杂的锁机制和幂等操作
  .github/workflows/build.yml
  main.py
  pyproject.toml
  scheduler_manager.py
  services/execution_coordinator.py
  services/execution_store.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_execution_store.py
  tests/unit/test_scheduler_api.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_converge.py
  tests/unit/test_windows_backend_com.py
  uv.lock
Due: uv-format

fix: 修复测试
  tests/unit/test_scheduler_manager.py
  tests/unit/test_windows_backend_com.py
Due: uv-format

ci: 补齐CI测试平台
  .github/workflows/test.yml
Due: none

test: 精简测试项
  front/src/services/feedback/message.test.ts
  front/src/services/realtime/dispatcher.test.ts
  front/src/services/realtime/events.test.ts
  front/src/services/realtime/sse.test.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/panel/session.test.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/task-config/taskConfig.test.ts
  front/src/utils/interface/content.test.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/scheduler/display.test.ts
  front/src/utils/task-config/options.test.ts
  tests/unit/test_custom_devices.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_execution_store.py
  tests/unit/test_interface_loader.py
  tests/unit/test_interface_model.py
  tests/unit/test_json_utils.py
  tests/unit/test_native_cron.py
  tests/unit/test_process_lock.py
  tests/unit/test_scheduler_codec.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_converge.py
  tests/unit/test_task_config.py
  tests/unit/test_windows_backend_com.py
  updater/internal/filelock/filelock_subprocess_test.go
  updater/internal/filelock/filelock_test.go
  updater/main_test.go
Due: uv-format, pnpm-format

refactor: 使用sqlalchemy重写sql操作
  main.py
  pyproject.toml
  services/execution_coordinator.py
  services/execution_store.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_execution_store.py
  tests/unit/test_scheduler_api.py
  uv.lock
Due: uv-format

doc: 更新AGENTS.md中的架构信息
  AGENTS.md
Due: none

chore: 添加注释
  app_state.py
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/agent_service.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/pipeline_override.py
  maa_worker/resource_utils.py
  maa_worker/task_service.py
  main.py
  models/interface_loader.py
  models/scheduler.py
  scheduler_job_codec.py
  scheduler_manager.py
  services/execution_coordinator.py
  services/execution_store.py
  services/native_cron.py
  services/process_lock.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
Due: uv-format

chore: 清理兼容代码
  deploy/download_deps.py
  front/src/app/i18n/index.ts
  front/src/services/realtime/sse.test.ts
  front/src/services/realtime/sse.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/panel/device.ts
Due: uv-format, pnpm-format

fix bugs
  main.py
  services/system_scheduler_backend.py
  tests/unit/test_windows_backend_com.py
Due: uv-format

fix: 修复windows错误代码解析问题
  services/system_scheduler_backend.py
  tests/unit/test_windows_backend_com.py
Due: uv-format

style(dialog): 调整调度任务对话框的样式 style(logs): 优化日志视图的样式
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/app/styles/main.css
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/views/LogsView.vue
  front/src/views/RoutinesView.vue
Due: pnpm-format

refactor(scheduler): 更新 cron 表达式验证逻辑
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

fix bugs
  app_state.py
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SchedulerExecutionHistory.vue
  front/src/components/settings/scheduler/StartConflictDialog.vue
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/utils/scheduler/display.test.ts
  front/src/utils/scheduler/display.ts
  front/src/views/RoutinesView.vue
  main.py
  scheduler_job_codec.py
  scheduler_manager.py
  services/execution_coordinator.py
  services/native_cron.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_lifespan_shutdown.py
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_api.py
  tests/unit/test_scheduler_codec.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_update_flow.py
Due: uv-format, pnpm-format

fix: 修复ui交互问题
  front/pnpm-lock.yaml
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/common/CreatableSelect.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
Due: pnpm-format

fix: 修复部分bug test: 补齐测试
  .github/workflows/test.yml
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
  front/src/views/RoutinesView.vue
  main.py
  models/scheduler.py
  scheduler_job_codec.py
  scheduler_manager.py
  services/execution_coordinator.py
  services/execution_store.py
  services/process_lock.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_execution_coordinator.py
  tests/unit/test_execution_store.py
  tests/unit/test_json_utils.py
  tests/unit/test_lifespan_shutdown.py
  tests/unit/test_process_lock.py
  tests/unit/test_scheduler_api.py
  tests/unit/test_scheduler_codec.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_windows_backend_com.py
  updater/internal/filelock/filelock.go
  uv.lock
Due: uv-format, pnpm-format

docs: 更新AGENTS.md
  AGENTS.md
Due: none

feat(scheduler): 系统级调度重写 — 原生唤醒 + 单实例委托 + 薄执行层
  app_state.py
  maa_utils.py
  maa_worker/execution.py
  maa_worker/runtime.py
  main.py
  models/scheduler.py
  pyproject.toml
  scheduler_manager.py
  services/native_cron.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_custom_devices.py
  tests/unit/test_execution.py
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_converge.py
  uv.lock
Due: uv-format

feat(scheduler): 前端系统级调度支持 — 唤醒开关/来源徽标/冲突对话
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/home/RoutineHealthCard.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SchedulerExecutionHistory.vue
  front/src/components/settings/scheduler/SchedulerTaskList.vue
  front/src/components/settings/scheduler/StartConflictDialog.vue
  front/src/services/api/modules/scheduler.test.ts
  front/src/services/api/modules/task.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
  front/src/utils/scheduler/display.test.ts
  front/src/utils/scheduler/display.ts
  front/src/views/RoutinesView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

feat(scheduler): 添加唤醒开关超时提示及任务重启逻辑
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
Due: pnpm-format

refactor(execution): 移除未使用的变量和过时的逻辑 refactor(scheduler): 删除过时的截止时间判定逻辑 feat(system_scheduler): 优化系统级任务注册命令构建 refactor(tests): 移除冗余的测试用例
  app_state.py
  maa_worker/execution.py
  main.py
  models/scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_execution.py
Due: uv-format

feat(task-select): 固定dialog高度、支持自定义设备地址创建
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

feat(App): 优化路由切换时组件卸载逻辑 feat(CreatableSelect): 支持动态选择框大小
  front/src/app/App.vue
  front/src/components/common/CreatableSelect.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

feat(store): 添加任务重启逻辑以处理冲突情况
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
Due: pnpm-format

fix(store): 清除过期冲突以避免无效重试
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
Due: pnpm-format

feat(scheduler): 前端系统级调度支持 — 唤醒开关/来源徽标/冲突对话 (#27)
  front/src/app/App.vue
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/common/CreatableSelect.vue
  front/src/components/home/RoutineHealthCard.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SchedulerExecutionHistory.vue
  front/src/components/settings/scheduler/SchedulerTaskList.vue
  front/src/components/settings/scheduler/StartConflictDialog.vue
  front/src/services/api/modules/scheduler.test.ts
  front/src/services/api/modules/task.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/scheduler/scheduler.test.ts
  front/src/stores/scheduler/scheduler.ts
  front/src/types/schedulerModel.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
  front/src/utils/scheduler/display.test.ts
  front/src/utils/scheduler/display.ts
  front/src/views/RoutinesView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

refactor(scheduler): 移除计划执行时间相关字段和逻辑 fix: 修复bug
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/settings/scheduler/SchedulerExecutionHistory.vue
  front/src/stores/scheduler/scheduler.test.ts
  front/src/types/schedulerModel.ts
  front/src/utils/scheduler/display.test.ts
  front/src/utils/scheduler/display.ts
  maa_worker/execution.py
  main.py
  models/scheduler.py
  scheduler_manager.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_execution.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_converge.py
Due: uv-format, pnpm-format

fix(scheduler): 修复执行/唤醒/持久化缺陷
  app_state.py
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/scheduler/SchedulerTaskList.vue
  front/src/components/settings/scheduler/StartConflictDialog.vue
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
  maa_worker/execution.py
  main.py
  scheduler_manager.py
  services/native_cron.py
  services/system_scheduler.py
  services/system_scheduler_backend.py
  tests/unit/test_execution.py
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_backend.py
  tests/unit/test_system_scheduler_converge.py
Due: uv-format, pnpm-format

feat(scheduler): 启动时降级注册失败的唤醒任务
  main.py
  scheduler_manager.py
Due: uv-format

refactor(schema): 重构输入格式验证
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/task/OptionItem.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/components/settings/sections/UISettingsSection.vue
  front/src/components/settings/sections/UpdateSettingsSection.vue
  front/src/schemas/cron.test.ts
  front/src/schemas/cron.ts
  front/src/schemas/device.test.ts
  front/src/schemas/device.ts
  front/src/schemas/interfaceInput.test.ts
  front/src/schemas/interfaceInput.ts
  front/src/schemas/scheduler.test.ts
  front/src/schemas/scheduler.ts
  front/src/schemas/settings.test.ts
  front/src/schemas/settings.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/utils/scheduler/cronNative.ts
  maa_worker/device_service.py
  maa_worker/execution.py
  main.py
  models/api.py
  models/device_address.py
  models/scheduler.py
  models/settings.py
  pyproject.toml
  scheduler_manager.py
  services/native_cron.py
  tests/fixtures/validation_contract.json
  tests/unit/test_custom_devices.py
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_scheduler_models.py
  uv.lock
Due: uv-format, pnpm-format

fix(schema): address PR review findings
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/schemas/scheduler.ts
  front/src/schemas/settings.ts
  maa_worker/device_service.py
  tests/unit/test_custom_devices.py
Due: uv-format, pnpm-format

refactor(schema): 简化设备地址验证逻辑
  front/src/schemas/device.test.ts
  front/src/schemas/device.ts
Due: pnpm-format

refactor(cron): 统一cron校验规则为严格子集
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/schemas/cron.test.ts
  front/src/schemas/cron.ts
  front/src/utils/scheduler/cronNative.test.ts
  front/src/utils/scheduler/cronNative.ts
  models/scheduler.py
  scheduler_manager.py
  services/native_cron.py
  tests/fixtures/validation_contract.json
  tests/unit/test_native_cron.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_scheduler_models.py
Due: uv-format, pnpm-format

refactor(tests): 移除冗余测试用例
  front/src/schemas/cron.test.ts
  front/src/schemas/device.test.ts
  front/src/schemas/scheduler.test.ts
  tests/unit/test_native_cron.py
Due: uv-format, pnpm-format

fix
  maa_worker/execution.py
  tests/unit/test_execution.py
Due: uv-format

Path conditions:
  uv-format: any of: \.py$
  pnpm-format: any of: ^front/.*
