Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

uv-format:
  name: uv-format
  entry: uv format --preview-features format
  language: system
  pass_filenames: false

pnpm-format:
  name: pnpm-format
  entry: pnpm --dir front run format
  language: system
  pass_filenames: false

feat(i18n): 添加中英文语言支持 feat(settings): 更新设置页面以支持国际化
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.vue
  front/src/components/LeftPanel.vue
  front/src/components/MediumPanel.vue
  front/src/components/RightPanel.vue
  front/src/components/SchedulerTaskDialog.vue
  front/src/locales/en-US.json
  front/src/locales/zh-CN.json
  front/src/main.ts
  front/src/views/SettingView.vue
Due: pnpm-format

fix: 修改浏览器打开时机 feat(locales): 在中文语言包中添加语言字段
  front/src/locales/zh-CN.json
  main.py
Due: uv-format, pnpm-format

feat(updater): 实现自动更新功能
  .github/workflows/build.yml
  updater/go.mod
  updater/go.sum
  updater/main.go
Due: none

chore(update): 重构更新逻辑，简化代码结构
  main.py
  updater/go.mod
  updater/go.sum
  updater/main.go
Due: uv-format

chore: 更新依赖
  .gitignore
  front/package.json
  front/pnpm-lock.yaml
Due: pnpm-format

feat(i18n): 添加国际化支持，支持中英文语言切换
  front/src/libs/i18n.ts
  front/src/libs/utils.ts
  front/src/main.ts
Due: pnpm-format

fix: 使用DOMPurify处理Markdown内容以防止XSS攻击 refactor(main): 优化更新检查逻辑，改进平台和架构识别
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/MediumPanel.vue
  front/src/components/UpdateDialog.vue
  main.py
Due: uv-format, pnpm-format

Add frontend update interface with auto-check and progress tracking (#3)
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.vue
  front/src/components/MediumPanel.vue
  front/src/components/SchedulerTaskDialog.vue
  front/src/components/UpdateDialog.vue
  front/src/locales/en-US.json
  front/src/locales/zh-CN.json
  front/src/script/api.ts
  front/src/views/SettingView.vue
  main.py
Due: uv-format, pnpm-format

release: 更新版本号至0.5.0
  front/package.json
  front/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

build(workflow): 更新Go版本配置，使用go.mod文件 docs(README): 添加DeepWiki徽章链接 chore: 新增context7.json配置文件
  .github/workflows/build.yml
  README.md
  context7.json
Due: none

feat(scheduler): 添加执行记录持久化功能 feat(scheduler): 优化时间间隔执行器
  front/src/components/SchedulerTaskDialog.vue
  front/src/locales/en-US.json
  front/src/locales/zh-CN.json
  front/src/views/SettingView.vue
  scheduler_manager.py
Due: uv-format, pnpm-format

feat: 完善浏览器通知功能 refactor: 重构通知系统
  front/src/locales/en-US.json
  front/src/locales/zh-CN.json
  front/src/main.ts
  front/src/script/api.ts
  front/src/script/message.ts
  front/src/script/realtime.ts
  front/src/script/sse.ts
  front/src/types/realtime.ts
  front/src/views/PanelView.vue
  front/src/views/SettingView.vue
  maa_utils.py
  main.py
  models/api.py
  scheduler_manager.py
Due: uv-format, pnpm-format

feat(interface): 更新PI v2.3.1
  front/src/types/interface.ts
  maa_utils.py
  main.py
  models/interface.py
Due: uv-format, pnpm-format

feat: 支持多选框chenkbox refactor: 重构pipeline_override逻辑
  front/package.json
  front/pnpm-lock.yaml
  front/src/components/OptionItem.vue
  front/src/components/TaskOptionPanel.vue
  front/src/composables/useTaskConfig.ts
  front/src/script/api.ts
  front/src/stores/taskConfig.ts
  front/src/types/scheduler.ts
  front/src/types/taskConfig.ts
  maa_utils.py
  models/scheduler.py
  models/task_config.py
  pyproject.toml
  scheduler_manager.py
  uv.lock
Due: uv-format, pnpm-format

feat: 支持attach_resource_path和import字段
  front/src/components/LeftPanel.vue
  front/src/script/api.ts
  front/src/types/settings.ts
  maa_utils.py
  main.py
  models/api.py
  models/interface_loader.py
  models/settings.py
Due: uv-format, pnpm-format

refactor: 使用pyjson5作为解析器 deps: 更新actions版本
  .github/workflows/build.yml
  front/package.json
  libs/json_utils.py
  maa_utils.py
  main.py
  models/interface_loader.py
  pyproject.toml
  uv.lock
Due: uv-format, pnpm-format

refactor: 大幅修改目录结构
  app_state.py
  front/src/App.vue
  front/src/components/LeftPanel.vue
  front/src/components/UpdateDialog.vue
  front/src/locales/i18n.ts
  front/src/main.ts
  front/src/script/api.ts
  front/src/services/api/device.ts
  front/src/services/api/index.ts
  front/src/services/api/interface.ts
  front/src/services/api/notification.ts
  front/src/services/api/resource.ts
  front/src/services/api/scheduler.ts
  front/src/services/api/settings.ts
  front/src/services/api/shared.ts
  front/src/services/api/task.ts
  front/src/services/api/taskConfig.ts
  front/src/services/api/update.ts
  front/src/services/message.ts
  front/src/services/realtime.ts
  front/src/services/sse.ts
  front/src/stores/interface.ts
  front/src/stores/scheduler.ts
  front/src/stores/settings.ts
  front/src/stores/taskConfig.ts
  front/src/utils/classnames.ts
  front/src/views/SettingView.vue
  json_utils.py
  maa_utils.py
  maa_worker/__init__.py
  maa_worker/agent_loader.py
  maa_worker/device_manager.py
  maa_worker/task_runner.py
  main.py
  models/interface_loader.py
  services/__init__.py
  services/update_service.py
Due: uv-format, pnpm-format

fix: 修复类型问题 deps: 更新部分依赖
  front/package.json
  front/pnpm-lock.yaml
  front/src/services/message.ts
  front/src/services/realtime.ts
Due: pnpm-format

fix: 修复mumu模拟器连接问题 close #4 deps: 升级部分依赖
  front/package.json
  front/pnpm-lock.yaml
  maa_worker/device_manager.py
  models/api.py
  pyproject.toml
  uv.lock
Due: uv-format, pnpm-format

chore: 删除无用代码
  maa_utils.py
Due: uv-format

docs: 添加工作区和后端、前端开发指引文档
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/front.instructions.md
  AGENTS.md
Due: none

docs(readme): 更新项目结构和文件说明
  README.md
Due: none

feat(option): 添加 scan_select 类型支持并更新相关逻辑
  README.md
  front/src/components/OptionItem.vue
  front/src/composables/useTaskConfig.ts
  front/src/stores/interface.ts
  front/src/stores/taskConfig.ts
  front/src/types/interface.ts
  maa_utils.py
  models/interface.py
  models/interface_loader.py
Due: uv-format, pnpm-format

fix: 修复新任务无法显示的bug
  front/src/stores/taskConfig.ts
Due: pnpm-format

feat: 添加 scan_dir 和 scan_filter 的验证逻辑，防止路径穿越
  models/interface_loader.py
Due: uv-format

Update README.md
  README.md
Due: none

Update models/interface_loader.py
  models/interface_loader.py
Due: uv-format

feat: 添加 pipeline_override 占位符验证逻辑
  models/interface.py
Due: uv-format

feat: 添加 scan_select 重载功能
  front/src/components/OptionItem.vue
  front/src/services/api/interface.ts
  front/src/stores/interface.ts
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

fix: 处理选项值为null的情况 fix: 修复scan_select刷新时不清空的问题
  front/src/components/OptionItem.vue
  front/src/stores/taskConfig.ts
  maa_utils.py
  maa_worker/task_runner.py
Due: uv-format, pnpm-format

Update maa_worker/task_runner.py
  maa_worker/task_runner.py
Due: uv-format

Update front/src/components/OptionItem.vue
  front/src/components/OptionItem.vue
Due: pnpm-format

Update maa_utils.py
  maa_utils.py
Due: uv-format

refactor: 统一null值行为 refactor: 调整interface读取锁范围
  front/src/components/OptionItem.vue
  front/src/composables/useTaskConfig.ts
  front/src/stores/taskConfig.ts
  front/src/utils/taskOptions.ts
  maa_utils.py
  main.py
  services/update_service.py
Due: uv-format, pnpm-format

feat(option): 添加 scan_select 类型支持与热重载功能 (#6)
  README.md
  front/src/components/OptionItem.vue
  front/src/composables/useTaskConfig.ts
  front/src/services/api/interface.ts
  front/src/stores/interface.ts
  front/src/stores/taskConfig.ts
  front/src/types/interface.ts
  front/src/utils/taskOptions.ts
  maa_utils.py
  main.py
  models/interface.py
  models/interface_loader.py
  services/update_service.py
Due: uv-format, pnpm-format

feat: 同步最新版interface schema
  front/src/types/interface.ts
  models/interface.py
Due: uv-format, pnpm-format

feat: 添加Agent 子进程环境变量支持
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_manager.py
  main.py
Due: uv-format

feat(left-panel): 添加设备资源锁定功能以防止操作
  front/src/components/LeftPanel.vue
Due: pnpm-format

Path conditions:
  uv-format: any of: \.py$
  pnpm-format: any of: ^front/.*
