Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

uv-format:
  name: uv-format
  entry: uv format --preview-features format
  language: system
  pass_filenames: false

pnpm-format:
  name: pnpm-format
  entry: pnpm --dir front run format
  language: system
  pass_filenames: false

refactor: 精简部分函数
  .gitignore
  maa_utils.py
  maa_worker/device_manager.py
Due: uv-format

feat: 增加 Agent 进程回收逻辑 fix: model_dump改为 JSON 模式输出 feat: 添加控制器链接状态检查
  front/src/components/LeftPanel.vue
  front/src/services/api/device.ts
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_manager.py
  main.py
Due: uv-format, pnpm-format

Update maa_worker/agent_loader.py
  maa_worker/agent_loader.py
Due: uv-format

feat: Synchronize interface schema and add agent environment variable support (#7)
  .gitignore
  front/src/components/LeftPanel.vue
  front/src/services/api/device.ts
  front/src/types/interface.ts
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_manager.py
  main.py
  models/interface.py
Due: uv-format, pnpm-format

refactor: 重构maa_utils及maa_worker以提高可读性
  README.md
  maa_utils.py
  maa_worker/agent_service.py
  maa_worker/device_manager.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/pipeline_override.py
  maa_worker/runtime.py
  maa_worker/task_runner.py
  maa_worker/task_service.py
  main.py
  models/api.py
  models/interface.py
  models/settings.py
  scheduler_manager.py
Due: uv-format

ci(build): 修改打包文件名
  .github/workflows/build.yml
  deploy/install.yml
Due: none

ci: 升级 GitHub Actions 依赖版本
  .github/workflows/build.yml
  deploy/install.yml
Due: none

ci(build): 更新 pnpm 版本至 10
  .github/workflows/build.yml
Due: none

refactor: 优化agent动态导入黑魔法
  maa_worker/agent_loader.py
Due: uv-format

BREAKING: 修改scan_select字段定义
  README.md
  maa_worker/pipeline_override.py
  models/interface.py
Due: uv-format

chore: 更新版本号至 0.12.2
  front/package.json
  pyproject.toml
  uv.lock
Due: pnpm-format

ci(build): 修正 macos 平台条件判断
  .github/workflows/build.yml
Due: none

refactor(agent): 优化黑魔法异常处理
  maa_worker/agent_loader.py
Due: uv-format

chore: 增加interface.json加载异常处理
  main.py
Due: uv-format

docs: 更新后端和前端开发指引
  .github/copilot-instructions.md
  .github/instructions/backend.instructions.md
  .github/instructions/front.instructions.md
  .github/instructions/frontend.instructions.md
  AGENTS.md
Due: none

chore: 优化关闭流程
  app_state.py
  main.py
Due: uv-format

feat: 支持预设配置
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/PanelStatusColumn.vue
  front/src/components/panel/PanelTaskColumn.vue
  front/src/components/panel/common/MarkdownViewer.vue
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/OptionItem.vue
  front/src/components/panel/task/TaskDescriptionCard.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/panel/task/TaskSettingsDrawer.vue
  front/src/services/api/modules/taskConfig.ts
  front/src/stores/interface/interface.ts
  front/src/stores/panel/session.ts
  front/src/stores/task-config/taskConfig.ts
  front/src/types/interface/model.ts
  front/src/types/task-config/model.ts
  front/src/utils/interface/content.ts
  front/src/views/panel/PanelView.vue
  main.py
  models/interface_loader.py
  models/task_config.py
Due: uv-format, pnpm-format

fix: fix some bugs
  front/src/app/App.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/PanelStatusColumn.vue
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/TaskSettingsDrawer.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/utils/interface/content.ts
  front/src/utils/viewport/useViewport.ts
  front/src/views/panel/PanelView.vue
Due: pnpm-format

refactor: 重构并规定资源路径处理逻辑
  README.md
  front/src/components/panel/common/MarkdownViewer.vue
  front/src/utils/interface/content.ts
  main.py
Due: uv-format, pnpm-format

chore: 修改自定义预设的内部值，防止冲突
  front/src/components/panel/preset/PresetSelectionCard.vue
Due: pnpm-format

fix: 优化资源路径处理逻辑
  front/src/utils/interface/content.ts
  models/interface_loader.py
Due: uv-format, pnpm-format

refactor: 移除i18n支持及缓存功能
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/TaskDescriptionCard.vue
  front/src/utils/interface/content.ts
Due: pnpm-format

refactor(task-config): 重构自定义及预定义预设保存逻辑
  .gitignore
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/services/api/modules/taskConfig.ts
  front/src/stores/task-config/taskConfig.ts
  front/src/types/task-config/model.ts
  main.py
  models/task_config.py
Due: uv-format, pnpm-format

chore: 预设配置折叠面板改为默认折叠
  front/src/components/panel/preset/PresetSelectionCard.vue
Due: pnpm-format

refactor(task-config): 优化任务选项规范化逻辑
  models/interface_loader.py
  models/task_config.py
Due: uv-format

feat: 支持预设配置 (#8)
  .gitignore
  README.md
  front/src/app/App.vue
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/PanelStatusColumn.vue
  front/src/components/panel/PanelTaskColumn.vue
  front/src/components/panel/common/MarkdownViewer.vue
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/OptionItem.vue
  front/src/components/panel/task/TaskDescriptionCard.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/panel/task/TaskSettingsDrawer.vue
  front/src/services/api/modules/taskConfig.ts
  front/src/stores/interface/interface.ts
  front/src/stores/panel/session.ts
  front/src/stores/task-config/taskConfig.ts
  front/src/types/interface/model.ts
  front/src/types/task-config/model.ts
  front/src/utils/interface/content.ts
  front/src/utils/viewport/useViewport.ts
  front/src/views/panel/PanelView.vue
  main.py
  models/interface_loader.py
  models/task_config.py
Due: uv-format, pnpm-format

chore: release note改为流式生成+deepseekV3.2
  .github/scripts/generate_release_notes.py
Due: uv-format

chore: 密钥漏了😅😅😅
  .github/scripts/generate_release_notes.py
Due: uv-format

fix: 修复代理为空导致的bug
  main.py
Due: uv-format

feat(update): 优化 GitHub 更新检查逻辑
  services/update_service.py
Due: uv-format

build(ci): 优化构建压缩命令，避免使用ARM filter
  .github/workflows/build.yml
  deploy/install.yml
Due: none

fix(agent): agent优先使用deps中的依赖，失败则fallback到内置依赖
  deploy/download_deps.py
  maa_worker/agent_loader.py
Due: uv-format

feat(agent): 拉起agent进程时附加socket_id
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/agent_service.py
  maa_worker/runtime.py
  maa_worker/task_service.py
Due: uv-format

refactor(agent): 重构agent加载逻辑，同时兼容黑魔法和外挂线程
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/agent_service.py
  maa_worker/runtime.py
Due: uv-format

refactor: 调整路径限制，优化处理逻辑
  front/src/utils/interface/content.ts
  maa_utils.py
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

docs(readme): 更新路径规范
  README.md
Due: none

Update maa_utils.py
  maa_utils.py
Due: uv-format

refactor(MarkdownViewer): 优化图片链接处理逻辑
  front/src/components/panel/common/MarkdownViewer.vue
  front/src/utils/interface/content.ts
  main.py
Due: uv-format, pnpm-format

refactor(content): 增加路径验证逻辑以限制不合法路径
  front/src/utils/interface/content.ts
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

Path conditions:
  uv-format: any of: \.py$
  pnpm-format: any of: ^front/.*
