Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.27
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: uv-format
        name: uv-format
        entry: uv format --preview-features format
        language: system
        types: [python]
        pass_filenames: false
      - id: pnpm-format
        name: pnpm-format
        entry: pnpm --dir front run format
        language: system
        files: ^front/.*
        pass_filenames: false

refactor: 调整目录限制，优化处理逻辑 (#10)
  README.md
  front/src/components/panel/common/MarkdownViewer.vue
  front/src/utils/interface/content.ts
  maa_utils.py
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

docs(readme): 添加 Agent 相关说明及使用建议
  README.md
Due: none

Update README.md
  README.md
Due: none

deps: 更新依赖
  front/package.json
  front/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

deps: 升级依赖版本
  front/package.json
  front/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

refactor: 重构任务选项配置结构
  front/src/components/panel/task/OptionItem.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/types/scheduler/model.ts
  front/src/types/task-config/model.ts
  front/src/utils/task-config/options.ts
  maa_worker/pipeline_override.py
  maa_worker/task_service.py
  main.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

fix: 修复响应式问题 refactor: 统一task列表/选项归一化逻辑
  front/src/components/panel/task/TaskOptionPanel.vue
  main.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

fix: 修复同名option跨task互相覆盖 (#14)
  front/src/components/panel/task/OptionItem.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/types/scheduler/model.ts
  front/src/types/task-config/model.ts
  front/src/utils/task-config/options.ts
  maa_worker/pipeline_override.py
  maa_worker/task_service.py
  main.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

feat(panel): 根据资源和控制器过滤任务
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/interface/interface.ts
  maa_worker/task_service.py
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

chore: 移除不必要的控制器和资源选项占位符
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

feat(panel): 添加筛选条件变更后移除不兼容任务的提示信息
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/interface/interface.ts
Due: pnpm-format

Update front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

fix(panel): 优化任务启动时的兼容性检查提示
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

feat: 根据资源和控制器过滤任务 (#15)
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/interface/interface.ts
  maa_worker/task_service.py
  main.py
  models/interface_loader.py
Due: uv-format, pnpm-format

Bump to v0.15.0
  front/package.json
  front/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

feat(interface): 添加 agent 配置中的 embedded 字段
  README.md
  maa_worker/agent_loader.py
  models/interface.py
Due: uv-format

feat(settings): 更新setting model以支持从interface注入about信息
  front/src/components/settings/sections/AboutSettingsSection.vue
  i18n/zh_cn.json
  main.py
  models/settings.py
Due: uv-format, pnpm-format

build: 开启LTO
  .github/workflows/build.yml
Due: none

deps: 更新nuitka
  pyproject.toml
  uv.lock
Due: none

feat: 支持resource.hash校验资源包
  front/src/types/interface/model.ts
  maa_worker/agent_service.py
  maa_worker/device_service.py
  models/interface.py
Due: uv-format, pnpm-format

deps: 更新前端依赖
  front/package.json
  front/pnpm-lock.yaml
Due: pnpm-format

docs: 更新AGENTS.md
  AGENTS.md
Due: none

feat(sink/focus): 支持sink和focus协议
  app_state.py
  front/src/app/main.ts
  front/src/services/realtime/events.ts
  front/src/services/realtime/sse.ts
  front/src/types/realtime/model.ts
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/focus_processor.py
  maa_worker/focus_protocol.py
  maa_worker/sink_service.py
  models/api.py
Due: uv-format, pnpm-format

refactor: 重构notify和display参数
  app_state.py
  front/src/app/main.ts
  front/src/services/realtime/events.ts
  front/src/services/realtime/sse.ts
  front/src/types/realtime/model.ts
  maa_worker/event_service.py
  maa_worker/focus_processor.py
  maa_worker/focus_protocol.py
  models/api.py
Due: uv-format, pnpm-format

fix(agent_loader): 增强错误处理，输出语法错误信息
  maa_worker/agent_loader.py
Due: uv-format

feat(sink/focus): 支持sink和focus协议 (#17)
  app_state.py
  front/src/app/main.ts
  front/src/services/realtime/events.ts
  front/src/services/realtime/sse.ts
  front/src/types/realtime/model.ts
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/focus_processor.py
  maa_worker/focus_protocol.py
  maa_worker/sink_service.py
  models/api.py
Due: uv-format, pnpm-format

feat(task): 添加前置任务配置功能
  .gitignore
  AGENTS.md
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/types/scheduler/model.ts
  front/src/types/task-config/model.ts
  maa_worker/runtime.py
  maa_worker/task_service.py
  main.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

deps: 升级依赖
  front/package.json
  front/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

Update AGENTS.md
  AGENTS.md
Due: none

fix: 修复字段错误 fix: 拖拽列表添加id
  AGENTS.md
  front/src/components/panel/task/PreTaskList.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/types/scheduler/model.ts
  front/src/types/task-config/model.ts
  main.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

fix: 修复潜在类型错误
  models/task_config.py
Due: uv-format

fix: 修复运行时错误
  front/src/components/panel/task/PreTaskList.vue
Due: pnpm-format

feat(pre-task): 更新前置任务配置和界面样式
  front/package.json
  front/pnpm-lock.yaml
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
Due: pnpm-format

rollback deps
  front/package.json
  front/pnpm-lock.yaml
Due: pnpm-format

feat(pre-task): 为定时任务添加前置任务功能
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
Due: pnpm-format

fix: 修正参数名
  .gitignore
  i18n/zh_cn.json
  main.py
  scheduler_manager.py
Due: uv-format

feat(task): 添加前置任务配置功能 (#20)
  .gitignore
  AGENTS.md
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/PanelControlColumn.vue
  front/src/components/panel/preset/PresetSelectionCard.vue
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/TaskSelectionCard.vue
  front/src/components/settings/dialogs/SchedulerTaskDialog.vue
  front/src/stores/task-config/taskConfig.ts
  front/src/types/scheduler/model.ts
  front/src/types/task-config/model.ts
  i18n/zh_cn.json
  maa_worker/runtime.py
  maa_worker/task_service.py
  main.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
Due: uv-format, pnpm-format

chore: 修改监听端口 release: v0.16.0
  AGENTS.md
  README.md
  front/package.json
  front/pnpm-lock.yaml
  front/vite.config.ts
  main.py
  pyproject.toml
  uv.lock
Due: uv-format, pnpm-format

ci: 修改nuitka缓存键
  .github/workflows/build.yml
Due: none
