Repository ravizhan/MFA-WebUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-format, pnpm-format

uv-format:
  name: uv-format
  entry: uv format --preview-features format
  language: system
  pass_filenames: false

pnpm-format:
  name: pnpm-format
  entry: pnpm --dir front run format
  language: system
  pass_filenames: false

style: 修改部分样式
  front/src/app/AppDock.vue
  front/src/app/AppNavbar.vue
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/task/TaskDescriptionCard.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/components/settings/sections/NotificationSettingsSection.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/components/settings/sections/UISettingsSection.vue
  front/src/components/settings/sections/UpdateSettingsSection.vue
  front/src/views/HomeView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

format: 统一组件样式写法
  front/src/app/AppNavbar.vue
  front/src/components/home/RoutineHealthCard.vue
  front/src/components/logs/LogsLogHeader.vue
  front/src/components/logs/LogsLogPanel.vue
  front/src/components/logs/LogsPreviewHeader.vue
  front/src/components/logs/LogsPreviewStream.vue
  front/src/components/panel/PanelConnectionTabs.vue
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/PreTaskToolbar.vue
  front/src/components/panel/task/TaskOptionPanel.vue
  front/src/components/panel/task/TaskSettingsDrawer.vue
  front/src/components/settings/dialogs/SchedulerTaskDialogContentTabs.vue
  front/src/components/settings/dialogs/UpdateDialog.vue
  front/src/components/settings/scheduler/SchedulerExecutionRow.vue
  front/src/components/settings/scheduler/SchedulerTaskRow.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/views/LogsView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

refactor: 调整目录结构
  front/src/components/panel/task/OptionItem.vue
  front/src/components/routines/SchedulerExecutionHistory.vue
  front/src/components/routines/SchedulerExecutionRow.vue
  front/src/components/routines/SchedulerTaskList.vue
  front/src/components/routines/SchedulerTaskRow.vue
  front/src/components/routines/dialogs/SchedulerTaskDialog.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogContentTabs.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogSectionNav.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogTriggerType.vue
  front/src/components/routines/dialogs/composables/useSchedulerTaskForm.ts
  front/src/components/routines/dialogs/composables/useSchedulerTaskSave.ts
  front/src/components/routines/dialogs/composables/useTaskEnvironment.ts
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/components/settings/sections/UISettingsSection.vue
  front/src/components/settings/sections/UpdateSettingsSection.vue
  front/src/components/tasks/StartConflictDialog.vue
  front/src/stores/device/deviceConnection.ts
  front/src/utils/datetime.ts
  front/src/utils/download.ts
  front/src/utils/interface/content.ts
  front/src/validation/cron.test.ts
  front/src/validation/cron.ts
  front/src/validation/device.test.ts
  front/src/validation/device.ts
  front/src/validation/interfaceInput.test.ts
  front/src/validation/interfaceInput.ts
  front/src/validation/scheduler.test.ts
  front/src/validation/scheduler.ts
  front/src/validation/settings.test.ts
  front/src/validation/settings.ts
  front/src/views/LogsView.vue
  front/src/views/RoutinesView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

deps: 加入vue-tsc类型检查
  front/package.json
  front/pnpm-lock.yaml
Due: pnpm-format

fix: 修复类型检查错误
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  front/src/app/App.vue
  front/src/components/panel/task/OptionItem.vue
  front/src/components/panel/task/OptionScanSelectControl.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/components/settings/sections/UpdateSettingsSection.vue
  front/src/utils/interface/content.ts
Due: pnpm-format

build: 调整vite构建分包 refactor: i18n懒加载
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  front/src/app/i18n/index.ts
  front/src/components/settings/dialogs/UpdateDialog.vue
  front/src/components/settings/sections/UISettingsSection.vue
  front/vite.config.ts
Due: pnpm-format

fix: 修复黑暗模式 style: 修改部分样式
  front/src/app/App.vue
  front/src/app/AppNavbar.vue
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/app/styles/main.css
  front/src/app/theme.ts
  front/src/components/home/HomeRecipeCard.vue
  front/src/components/home/RoutineHealthCard.vue
  front/src/components/routines/dialogs/SchedulerTaskDialog.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogSectionNav.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogTriggerType.vue
  front/src/components/settings/sections/RuntimeSettingsSection.vue
  front/src/views/RoutinesView.vue
  front/src/views/TasksView.vue
Due: pnpm-format

refactor(i18n): 移除i18n懒加载
  front/src/app/i18n/index.ts
  front/src/components/settings/sections/UISettingsSection.vue
Due: pnpm-format

fix bugs
  front/src/components/routines/dialogs/SchedulerTaskDialog.vue
  front/src/components/routines/dialogs/composables/useSchedulerTaskSave.ts
Due: pnpm-format

style: 完善部分样式
  front/src/app/App.vue
  front/src/app/AppNavbar.vue
Due: pnpm-format

deps: 升级依赖
  front/package.json
  front/pnpm-lock.yaml
  front/pnpm-workspace.yaml
  pyproject.toml
  uv.lock
Due: pnpm-format

ci: 更新测试流程
  .github/workflows/test.yml
Due: none

ci: 更新release note脚本
  .github/scripts/generate_release_notes.py
  .github/workflows/build.yml
  AGENTS.md
Due: uv-format

refactor: 切换为纯python json5实现
  json_utils.py
  pyproject.toml
  tests/unit/test_json_utils.py
  uv.lock
Due: uv-format

deps: 更新依赖分组
  .github/workflows/build.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

format: 格式化代码
  json_utils.py
  maa_utils.py
  maa_worker/agent_loader.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/task_service.py
  models/interface_loader.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
  services/native_cron.py
  tests/unit/test_custom_devices.py
  tests/unit/test_execution.py
  tests/unit/test_interface_model.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_system_scheduler_converge.py
  tests/unit/test_task_config.py
Due: uv-format

chore: 升级至python 3.13
  .github/scripts/generate_release_notes.py
  .pre-commit-config.yaml
  .python-version
  app_state.py
  deploy/copy_resources.py
  deploy/download_deps.py
  maa_worker/agent_loader.py
  maa_worker/agent_service.py
  maa_worker/execution.py
  maa_worker/focus_processor.py
  maa_worker/pipeline_override.py
  main.py
  models/interface.py
  models/scheduler.py
  models/settings.py
  pyproject.toml
  scheduler_manager.py
  settings_io.py
  tests/unit/test_execution.py
  tests/unit/test_interface_loader.py
  tests/unit/test_interface_model.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_scheduler_models.py
  uv.lock
Due: uv-format

chore: 修正部分ruff警告
  .pre-commit-config.yaml
  README.md
  maa_worker/task_service.py
  main.py
  models/interface.py
  models/settings.py
Due: uv-format

feat: 支持PI v2.8.1 pretask功能
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/PreTaskWarnDialog.vue
  front/src/stores/interface/interface.test.ts
  front/src/stores/interface/interface.ts
  front/src/types/interfaceModel.ts
  front/src/utils/pretaskWarning.ts
  front/src/views/TasksView.vue
  maa_utils.py
  maa_worker/execution.py
  maa_worker/pretask_service.py
  maa_worker/task_service.py
  models/interface.py
  models/interface_loader.py
  tests/unit/test_execution.py
  tests/unit/test_interface_loader.py
  tests/unit/test_pretask_service.py
Due: uv-format, pnpm-format

fix
  front/src/components/routines/dialogs/SchedulerTaskDialogContentTabs.vue
  maa_utils.py
  maa_worker/execution.py
  maa_worker/pretask_service.py
  maa_worker/task_service.py
  tests/unit/test_execution.py
  tests/unit/test_pretask_service.py
Due: uv-format, pnpm-format

feat: 支持PI v2.8.1 pretask功能 (#30)
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/panel/task/PreTaskList.vue
  front/src/components/panel/task/PreTaskWarnDialog.vue
  front/src/components/routines/dialogs/SchedulerTaskDialogContentTabs.vue
  front/src/stores/interface/interface.test.ts
  front/src/stores/interface/interface.ts
  front/src/types/interfaceModel.ts
  front/src/utils/pretaskWarning.ts
  front/src/views/TasksView.vue
  maa_utils.py
  maa_worker/execution.py
  maa_worker/pretask_service.py
  maa_worker/task_service.py
  models/interface.py
  models/interface_loader.py
  tests/unit/test_execution.py
  tests/unit/test_interface_loader.py
  tests/unit/test_pretask_service.py
Due: uv-format, pnpm-format

feat: 实现PI v2.8.0
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/common/controls/OptionCheckboxControl.vue
  front/src/components/common/controls/OptionHotkeyControl.vue
  front/src/components/common/controls/OptionInputControl.vue
  front/src/components/common/controls/OptionSelectControl.vue
  front/src/components/common/controls/OptionSwitchControl.vue
  front/src/components/settings/sections/TaskSettingOptionRow.vue
  front/src/components/settings/sections/TaskSettingsSection.vue
  front/src/stores/interface/interface.ts
  front/src/stores/settings/settings.ts
  front/src/types/interfaceModel.ts
  front/src/types/settingsModel.ts
  front/src/utils/hotkey.test.ts
  front/src/utils/hotkey.ts
  front/src/utils/task-config/options.test.ts
  front/src/utils/task-config/options.ts
  front/src/views/SettingsView.vue
  maa_worker/execution.py
  maa_worker/hotkey.py
  maa_worker/pipeline_override.py
  models/interface.py
  models/interface_loader.py
  models/settings.py
  models/task_config.py
  tests/unit/test_execution.py
  tests/unit/test_hotkey.py
  tests/unit/test_interface_loader.py
  tests/unit/test_interface_model.py
  tests/unit/test_task_config.py
Due: uv-format, pnpm-format

fix bugs
  front/src/app/i18n/messages/en-US.json
  front/src/app/i18n/messages/zh-CN.json
  front/src/components/common/controls/OptionHotkeyControl.vue
  front/src/components/routines/dialogs/composables/useTaskEnvironment.ts
  front/src/services/api/modules/device.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/settings/settings.test.ts
  front/src/stores/settings/settings.ts
  front/src/types/interfaceModel.ts
  front/src/types/schedulerModel.ts
  front/src/types/settingsModel.ts
  front/src/utils/hotkey.test.ts
  front/src/utils/hotkey.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/panel/device.ts
  front/src/validation/device.test.ts
  front/src/validation/device.ts
  maa_worker/device_service.py
  maa_worker/execution.py
  maa_worker/hotkey.py
  maa_worker/pipeline_override.py
  maa_worker/pretask_service.py
  maa_worker/task_service.py
  models/api.py
  models/device_address.py
  models/interface.py
  models/scheduler.py
  models/task_config.py
  tests/unit/test_custom_devices.py
  tests/unit/test_execution.py
  tests/unit/test_hotkey.py
  tests/unit/test_interface_model.py
  tests/unit/test_pretask_service.py
  tests/unit/test_scheduler_models.py
Due: uv-format, pnpm-format

refactor(core): simplify internal contracts
  app_state.py
  front/src/app/App.vue
  front/src/app/AppDock.vue
  front/src/components/routines/dialogs/composables/useTaskEnvironment.ts
  front/src/services/realtime/sse.test.ts
  front/src/services/realtime/sse.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/task-config/taskConfig.test.ts
  front/src/stores/task-config/taskConfig.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/panel/device.ts
  front/src/utils/viewport/useViewport.ts
  front/src/validation/cron.ts
  front/src/validation/device.ts
  front/src/validation/scheduler.ts
  front/src/validation/settings.test.ts
  front/src/validation/settings.ts
  front/src/views/TasksView.vue
  maa_utils.py
  maa_worker/execution.py
  maa_worker/resource_utils.py
  maa_worker/sink_service.py
  main.py
  models/device_address.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
  services/native_cron.py
  tests/unit/test_execution.py
  tests/unit/test_main_resource.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_task_config.py
Due: uv-format, pnpm-format

refactor(core): simplify internal contracts (#32)
  app_state.py
  front/src/app/App.vue
  front/src/app/AppDock.vue
  front/src/components/routines/dialogs/composables/useTaskEnvironment.ts
  front/src/services/realtime/sse.test.ts
  front/src/services/realtime/sse.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/device/deviceConnection.ts
  front/src/stores/task-config/taskConfig.test.ts
  front/src/stores/task-config/taskConfig.ts
  front/src/utils/panel/device.test.ts
  front/src/utils/panel/device.ts
  front/src/utils/viewport/useViewport.ts
  front/src/validation/cron.ts
  front/src/validation/device.ts
  front/src/validation/scheduler.ts
  front/src/validation/settings.test.ts
  front/src/validation/settings.ts
  front/src/views/TasksView.vue
  maa_utils.py
  maa_worker/execution.py
  maa_worker/resource_utils.py
  maa_worker/sink_service.py
  main.py
  models/device_address.py
  models/scheduler.py
  models/task_config.py
  scheduler_manager.py
  services/native_cron.py
  tests/unit/test_execution.py
  tests/unit/test_main_resource.py
  tests/unit/test_scheduler_manager.py
  tests/unit/test_task_config.py
Due: uv-format, pnpm-format

fix: 修复构建
  .github/workflows/build.yml
Due: none

fix: 修复 8 个 P1 问题
  front/src/components/panel/task/OptionItem.vue
  front/src/components/settings/sections/TaskSettingOptionRow.vue
  maa_worker/agent_service.py
  maa_worker/device_service.py
  maa_worker/event_service.py
  maa_worker/execution.py
  maa_worker/sink_service.py
  main.py
  models/interface_loader.py
  services/telemetry_service.py
Due: uv-format, pnpm-format

refactor: 清理重复类型、死代码与冗余间接层
  front/src/app/useInterfaceMetadata.ts
  front/src/components/common/FocusInteractionBridge.vue
  front/src/components/common/TelemetryConsentDialog.vue
  front/src/components/panel/task/TaskSelectList.vue
  front/src/services/api/modules/telemetry.ts
  front/src/stores/device/deviceConnection.test.ts
  front/src/stores/focus/focusInteraction.ts
  front/src/utils/hash.ts
  front/src/utils/interface/applicability.ts
  maa_worker/agent_service.py
  maa_worker/device_service.py
  maa_worker/execution.py
  maa_worker/pretask_service.py
  maa_worker/task_service.py
  main.py
  models/device_address.py
  services/i18n_lookup.py
  services/interface_content.py
  services/privilege_service.py
  services/telemetry_service.py
  tests/unit/test_custom_devices.py
  tests/unit/test_device_address.py
  tests/unit/test_execution.py
  tests/unit/test_hotkey.py
  tests/unit/test_interface_loader.py
  tests/unit/test_interface_model.py
  tests/unit/test_pretask_service.py
  tests/unit/test_runtime_info.py
  tests/unit/test_telemetry_consent_api.py
  tests/unit/test_telemetry_service.py
Due: uv-format, pnpm-format

fix(test): 修复遥测同意接口测试在 CI 下因缺少 interface.json 失败
  tests/unit/test_telemetry_consent_api.py
Due: uv-format

test: isolate telemetry API fixtures
  tests/unit/test_telemetry_consent_api.py
Due: uv-format

Path conditions:
  uv-format: any of: \.py$
  pnpm-format: any of: ^front/.*
